# =========================
# Java
# =========================

*.class
*.jar
*.war
*.ear
*.nar

# Logs
*.log

# JVM Crash Logs
hs_err_pid*
replay_pid*

# BlueJ
*.ctxt

# =========================
# IDE Files
# =========================

.vscode/
.idea/
*.iml

# =========================
# Build Folders
# =========================

target/
build/
out/
bin/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================

.env

# =========================
# MySQL Backups
# =========================

*.sql.bak
*.dump

# =========================
# Temporary Files
# =========================

*.tmp
*.temp
